footer {
    height: 350px;
    text-align: center;
    margin: 0 auto;
    background-color:black;
    padding-top: 60px;
    overflow: hidden;
    .footer_jenny {
        a {
            text-decoration: none;
            font-size: 20px;
            color: white;
        }
    }
    .footer_icon {
        margin-top: 40px;
        a {
            margin: 0 20px;
        }

        img {
            width: 40px;
            height: 40px;
        }
    }
    .footer_content {
        display: flex;
        justify-content: center;
        margin: 30px 0;
        gap: 15px;
        font-size: 20px;
        color: white;
    }
    .footer_bottom {
        font-size: 14px;
        color: white;
    }
}
