section {
    width: 100%;
    height: 100%;
    background-color: #eee;
    padding-bottom:60px;

    p {
        text-align: center;
        font-size: 40px;
        
    }

    .profile {
        width: 1200px;
        margin: 0 auto;
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        .profile_box {
            width: 30%;
            margin-top: 30px;

            a {
                text-decoration: none;
                img {
                    width: 100%;
                    height: 100%;
                    margin-bottom: 10px;
                }
                .profile_text {
                    span {
                        color: black;
                        font-size: 20px;
                
                    }
                    .profiletext_left {
                        border: 1px solid black;
                        border-radius: 10px;
                        padding: 5px 10px;
                    }
                    .profiletext_right{
                        margin-left:30px;
                        font-weight: bold;
                        
                    }
                }
            }
        }
    }

    // .profile_img{
    //     width:
    // }
}
