@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap");
nav {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 7px 7px #ccc;
          box-shadow: 0 7px 7px #ccc;
}

nav .logo a {
  text-decoration: none;
  font-size: 30px;
  font-family: "Sedgwick Ave", cursive;
  color: black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

nav .logo a:hover {
  -webkit-filter: invert(67%) sepia(98%) saturate(164%) hue-rotate(98deg) brightness(90%) contrast(85%);
          filter: invert(67%) sepia(98%) saturate(164%) hue-rotate(98deg) brightness(90%) contrast(85%);
}

nav .nav_title {
  font-size: 24px;
}

nav .about_icom a img {
  width: 30px;
  height: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

nav .about_icom a img:hover {
  -webkit-filter: invert(67%) sepia(98%) saturate(164%) hue-rotate(98deg) brightness(90%) contrast(85%);
          filter: invert(67%) sepia(98%) saturate(164%) hue-rotate(98deg) brightness(90%) contrast(85%);
}

.slick {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.slick .slick_box {
  width: 100%;
  height: 100vh;
}

.slick .slick_box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.aboutme {
  width: 100%;
  height: 100vh;
  text-align: center;
}

.aboutme .p_title {
  font-size: 36px;
  margin-top: 20px;
}

.aboutme h1 {
  font-size: 180px;
  font-family: "Sedgwick Ave", cursive;
  font-weight: bold;
}

.aboutme .p_content {
  font-size: 28px;
  margin: 10px 0 50px 0;
}

.aboutme a {
  text-decoration: none;
  border: 1px solid black;
  padding: 10px 30px;
  color: black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.aboutme a:hover {
  color: white;
  background-color: black;
}

section {
  width: 100%;
  height: 100%;
  background-color: #eee;
  padding-bottom: 60px;
}

section p {
  text-align: center;
  font-size: 40px;
}

section .profile {
  width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section .profile .profile_box {
  width: 30%;
  margin-top: 30px;
}

section .profile .profile_box a {
  text-decoration: none;
}

section .profile .profile_box a img {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}

section .profile .profile_box a .profile_text span {
  color: black;
  font-size: 20px;
}

section .profile .profile_box a .profile_text .profiletext_left {
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px 10px;
}

section .profile .profile_box a .profile_text .profiletext_right {
  margin-left: 30px;
  font-weight: bold;
}

footer {
  height: 350px;
  text-align: center;
  margin: 0 auto;
  background-color: black;
  padding-top: 60px;
}

footer .footer_jenny a {
  text-decoration: none;
  font-size: 20px;
  color: white;
}

footer .footer_icon {
  margin-top: 40px;
}

footer .footer_icon a {
  margin: 0 20px;
}

footer .footer_icon img {
  width: 40px;
  height: 40px;
}

footer .footer_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px 0;
  gap: 15px;
  font-size: 20px;
  color: white;
}

footer .footer_bottom {
  font-size: 14px;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 標楷體;
}
/*# sourceMappingURL=style.css.map */